/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

img {
  position:relative;
}

.parallax-container {
  min-height: 700px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);

}
  .parallax-container .section {
    width: 100%;
  }

  .project1 {
  height: 400px;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }


}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  #flower, #me {
    height: 40%;
    background-image: cover;
  }

  .project1 {
  height: 100%;
  }

}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#mainheader, #thankyou_header {
  font-family: 'Elsie', cursive;
  text-align: center;
}

#thankyou {
  margin-top: -35px;
  padding: 40px 20px;
  font-family: 'Questrial', sans-serif;

}

#thankyou_header {
  margin-top: 100px;
}

#me {
  margin-top:10px;
}

#intro, #intro2, .project_title {
  font-family: 'Questrial', sans-serif;
  color: black;
}

#intro_container {
  margin-top: 80px;
}

#intro {
  color: purple;
  text-align: left;
}

#intro2 {
  margin-top: -10px;
}

#stacks {
  /*padding-top: 100px;*/
  /*position: absolute;*/
    
}

#holding_lines {
  /*padding-top: 120px;*/
  color: gray;
}

.container {
  text-align: center;
}

#email_button {
  position: relative;
  top: 20px;
  background-color: #efebe9;
}

#mywork {
  font-family: 'Questrial', sans-serif;
  font-size: 40px;
  padding-bottom: 10px;
}

.project {
  padding: 20px;
}

.carousel {
    /*height: 600px;*/
}
.slider .indicators .indicator-item.active  {
  background-color: #bcaaa4;
}

hr {
  border: 1px solid white;
}

.iconrow {
  border: 20px ridge #fcf9f9;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  padding-right: 30px ;
  box-shadow: inset 0 0 10px #000000;

}